<% include ./partials/header %>



<h1>wow</h1>
<div>
  <img src="stylesheets/images/Sharetea_logo.png" alt="Sharetea_logo.png" height="128" width="128">
  <p>
    info on sharetea
  </p>
</div>
<h1>wow</h1>



<% include ./partials/footer %>