<% include ./partials/header %>

<!-- Background picture -->
<div class="bg"></div>

<!-- Displays title -->
<div class="caption">
	<span class="title">BobaBob</span>
</div>

<!-- Search form -->
<div class="active-cyan-4 mb-4 searchForm">
  <input class="form-control searchBar" type="text" placeholder="Search" aria-label="Search">
</div>

<!-- Button to view all boba places -->
<a class="viewAllButton btn btn-secondary btn-large" href="/shops" role="button">View all Boba Places</a>

<% include ./partials/footer %>